#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
    parameters:
        lang: cs
        database:
            dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
            user: %database.user%
            password: %database.password%
            profiler: TRUE
            prefix: max_

    php:
        date.timezone: Europe/Prague
        zlib.output_compression: yes

    nette:
        security:
            frames: DENY

        application:
            errorPresenter: Error

        session:
            autostart: smart
            name: maxmilian6
            expiration: +14 days
            savePath: '%tempDir%/sessions'

        debuger:
            strictMode: TRUE
            catchExceptions: TRUE
            email: kysela.biz®gmail.com
            bar:
                - JanDrabek\Diagnostics\MailPanel
                - @sessionPanel

        xhtml: no

        mailer:
        class: JanDrabek\Diagnostics\SessionDumpMail
#        mailer:
#           smtp: true
#           host:
#           port:
#           username:
#           password:
#           secure:
#           timeout:

    services:
        translator:
            factory: NetteTranslator\Gettext::getTranslator
            setup:
                - addFile(%appDir%/AdminModule/langs, admin)
                - addFile(%appDir%/FrontModule/langs, front)
                - NetteTranslator\Panel::register
        
        
        cacheStorage:
            class: Nette\Caching\Storages\FileStorage(%tempDir%)

        sessionPanel:
            class: SessionPanel
            arguments:
                - @application
                - @session

        database: 
            class: Nette\Database\Connection(
                '%database.driver%:host=%database.host%;dbname=%database.dbname%', 
                %database.user%, 
                %database.password%
            )
            setup:
                - setCacheStorage

        Authenticator: Maxmilian\Security\Authenticator( @database )
        Authorizator: Maxmilian\Security\Acl

        # AdminModule
                
        # FrontModule

    factories:


production < common:
    parameters:
        database:
            driver: mysql
            host:
            dbname:
            user:
            password:
            
development < common:
    parameters:
        database:
            driver: mysql
            host: localhost
            dbname: maxmilian6
            user: root
            password: