#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		lang: cs

	php:
		date.timezone: Europe/Prague
		zlib.output_compression: yes


	nette:
		security:
			frames: DENY

		application:
			errorPresenter: Error

		session:
			autostart: smart
			name: maxmilian6
			expiration: +14 days
			savePath: '%tempDir%/sessions'
			cookieDomain: kysela.biz

		database:
			default:
				dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
				user: %database.user%
				password: %database.password%
				profiler: TRUE

		debuger:
			strictMode: TRUE
			catchExceptions: TRUE
			email: kysela.biz®gmail.com
			bar:
				- JanDrabek\Diagnostics\MailPanel
				- @sessionPanel

		xhtml: no

		mailer:
			class: JanDrabek\Diagnostics\SessionDumpMail
#		mailer:
#			smtp: true
#			host:
#			port:
#			username:
#			password:
#			secure:
#			timeout:

	services:
		cacheStorage:
			class: Nette\Caching\Storages\FileStorage(%tempDir%)

		sessionPanel:
			class: SessionPanel
			arguments:
				- @application
				- @session

		database: 
			class: Nette\Database\Connection(
				%database.dns%, 
				%database.user%, 
				%database.password%,
				NULL,
				Nette\Database\Reflection\DiscoveredReflection()
			)
			setup:
				- setCacheStorage
				- $substitutions( %database.substitutions% )

		authenticator: Authenticator

		translator:
			factory: NetteTranslator\Gettex::getTranslator
			setup:
				- addFile(%appDir%/AdminModule/langs, 'admin')
				- addFile(%appDir%/FrontModule/langs, 'front')
				- NetteTranslator\Panel::register


	factories:


production < common:
	parameters:
		database:
			driver: mysql
			host:
			dbname:
			user:
			password:
			substitutions:
				db: test

development < common:
	parameters:
		database:
			driver: mysql
			host: localhost
			dbname: maxmilian_6
			user: root
			password:
			substitutions:
				db:test