/* 
    Document   : style.css
    Created on : 30.8.2012, 19:46:44
    Author     : Kysela Petr <petr®kysela.biz>
    Description:
        Purpose of the stylesheet follows.
*/

body {
    background: #333;
    color: #efefef;
}
